email: {{ .Email }}
userToken: {{ .UserToken }}
sessionToken: {{ .SessionToken }}
uuidPath: {{ .UUIDPath }}
applications:{{ range .Applications }}
    - appName: {{ .AppName}}
      appPath: {{ .AppPath}}{{ end }}
